<article class="card">
  <img class="card-img" src="/img/products/<%= product.slug %>.jpg" alt="">
  <h3 class="card-title"><%= product.title %></h3>
  <a class="card-action btn" href="/produit/<%= product.slug %>" aria-label="Voir le détail du produit <%= product.title %>">Voir le détail</a>
</article>