<footer class="footer">
  &copy; Chouette Maraîcher - 
  <a class="footer-link" href="#">Retour en haut de page</a> -
  <a class="footer-link" href="/product/best">Voir les produits les mieux notés</a> -
  <a class="footer-link" href="/rayons">Voir les rayons</a>
</footer>
</body>
</html>