<aside class="sidebar">
  <div class="siderbar-content">
    <h2 class="sidebar-title">A propos</h2>
    <p class="sidebar-desc">Découvrez l'origine du Chouette Maraîcher.</p>
    <a class="sidebar-btn btn" href="/a-propos" aria-label="Découvrir l'origine">Découvrir</a>
  </div>
</aside>